
###> symfony/framework-bundle ###


/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###

/assets/vendor/
###< symfony/asset-mapper ###

#APP_SECRET
f6aaf6abb54918ffd68bcbf3afb4776b